#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0-only

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

override_dh_auto_clean:
	$(MAKE) clean || true
	dh_auto_clean
