// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (c) 2026 Da Xue <da@libre.computer>
 * Author: Da Xue <da@libre.computer>
 */
/* 40P GPIO
 * Pin 12 PG11 I2S1_BCLK
 * Pin 35 PG10 I2S1_LRCK
 * Pin 38 PG13 I2S1_DIN
 * Pin 40 PG12 I2S1_DOUT
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "libretech,all-h3-cc-h5", "libretech,all-h3-cc-h3", "allwinner,sun50i-h5", "allwinner,sun8i-h3";

	fragment@0 {
		target = <&i2s1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1_pins>;
			status = "okay";
		};
	};
};
