// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Da Xue <da@libre.computer>
 * Author: Da Xue <da@libre.computer>
 */

/*
 * Enables ILI9486 based 3.5" touchscreen on 40P header 7J1 without tuning parameters
 * Requires spi0-cs1 overlay
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "libretech,all-h3-cc-h5", "libretech,all-h3-cc-h3", "allwinner,sun50i-h5", "allwinner,sun8i-h3";

	fragment@0 {
		target-path = "/aliases";
		__overlay__ {
			spi0 = "/soc/spi@01c68000";
		};
	};

	fragment@1 {
		target = <&pio>;
		__overlay__ {
			ads7846_pins: ads7846_pins {
				pins = "PA1";
				function = "irq";
			};
		};
	};

	fragment@2 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			display@0 {
				compatible = "waveshare,rpi-lcd-35", "ilitek,ili9486";
				reg = <0>;
				spi-max-frequency = <20000000>;
				reset-gpios = <&pio 0 14 GPIO_ACTIVE_HIGH>;
				dc-gpios = <&pio 6 8 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};

			touchscreen@1 {
				compatible = "ti,ads7846";
				reg = <1>;
				pinctrl-names = "default";
				pinctrl-0 = <&ads7846_pins>;
				spi-max-frequency = <2000000>;
				interrupt-parent = <&pio>;
				interrupts = <0 1 IRQ_TYPE_EDGE_FALLING>;
				pendown-gpio = <&pio 0 1 GPIO_ACTIVE_LOW>;
				ti,x-plate-ohms = /bits/ 16 <60>;
				ti,pressure-max = /bits/ 16 <255>;
				wakeup-source;
				status = "okay";
			};
		};
	};
};
