/dts-v1/;
/plugin/;

/ {
	compatible = "allwinner,sun50i-h5";

	fragment@0 {
		target = <&spi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			spidev {
				compatible = "spidev", "rohm,dh2228fv";
				reg = <0>;
				spi-max-frequency = <30000000>;
			};
		};
	};
};
