// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Da Xue
 * Author: Da Xue <da@libre.computer>
 */

/* SD UHS increase max clock */

/dts-v1/;
/plugin/;

/ {
	compatible = "libretech,aml-s905x-cc", "amlogic,s905x", "amlogic,meson-gxl";

	fragment@0 {
		target = <&sd_emmc_b>;
		
		__overlay__ {
			max-frequency = <200000000>;
		};
	};
};
