// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022
 * Author: Da Xue <da@libre.computer>
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/meson-gxl-gpio.h>

/ {
	compatible = "libretech,aml-s905x-cc", "amlogic,s905x", "amlogic,meson-gxl";

	fragment@0 {
		target = <&spicc>;
		
		__overlay__ {
			st7735r@0 {
				compatible = "sitronix,st7735r";
				reg = <0>;
				dc-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&gpio GPIOX_18 GPIO_ACTIVE_LOW>;

				led-gpios = <&gpio GPIOX_0 GPIO_ACTIVE_HIGH>;
				height = <128>;
				width = <128>;
				buswidth = <16>;
				
				spi-max-frequency = <41666666>;
				status = "okay";
			};
		};
	};
};
