/dts-v1/;
/plugin/;

/ {
        compatible = "rockchip,rk3328";

        fragment@0 {
                target = <&pwm2>;
                __overlay__ {
                        status = "okay";
                };
        };
};
