/*
 * Copyright (c) 2022 Da Xue
 * Author: Da Xue <da@libre.computer>
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/*
 * Enables SPI on 40P header J1 pins 19 (TX) 21 (RX) 23 (CLK)
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "libretech,roc-rk3328-cc", "rockchip,rk3328";

	fragment@0 {
		target-path = "/aliases";

		__overlay__ {
			spi0 = "/soc/spi@ff190000";
		};
	};

	fragment@1 {
		target = <&spi0>;

		__overlay__ {
			status = "okay";
		};
	};
};
