// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (c) 2017 BayLibre, SAS.
 * Author: Neil Armstrong <narmstrong@baylibre.com>
 */
/*
 * Raspberry Pi Sense HAT sensors on I2C_AO.
 *
 * Discrete IIO devices match linux-6.18.y-lc of_device_id tables.
 * The ATMega at 0x46 has no matching I2C driver on mainline 6.18
 * (only platform child raspberrypi,sensehat-joystick exists), so that
 * node is omitted until a mainline MFD is available.
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "libre-computer,aml-s805x-ac",
		"libretech,aml-s805x-ac",
		"libre-computer,aml-s805x-ac-v2",
		"libretech,aml-s805x-ac-v2",
		"amlogic,s805x",
		"amlogic,meson-gxl";

	fragment@0 {
		target = <&i2c_AO>;

		__overlay__ {
			lsm9ds1-magn@1c {
				compatible = "st,lsm9ds1-magn";
				reg = <0x1c>;
				status = "okay";
			};

			lsm9ds1-imu@6a {
				compatible = "st,lsm9ds1-imu";
				reg = <0x6a>;
				status = "okay";
			};

			lps25h-press@5c {
				compatible = "st,lps25h-press";
				reg = <0x5c>;
				status = "okay";
			};

			hts221@5f {
				compatible = "st,hts221";
				reg = <0x5f>;
				status = "okay";
			};
		};
	};
};
