// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Da Xue
 * Author: Da Xue <da@libre.computer>
 */

/*
 * Enables userspace spidev on SPICC bus with CS0
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/meson-gxl-gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/amlogic,meson-gxl-gpio-intc.h>

/ {
	compatible = "libretech,aml-s805x-ac", "amlogic,s805x", "amlogic,meson-gxl";

	fragment@0 {
		target = <&spicc>;

		__overlay__ {

			#address-cells = <1>;
			#size-cells = <0>;
			
			eth1: enc28j60@0 {
				compatible = "microchip,enc28j60";
				reg = <0>;
				interrupt-parent = <&gpio_intc>;
				interrupts = <IRQID_GPIOX_0 IRQ_TYPE_EDGE_FALLING>;
				spi-max-frequency = <20000000>;
				status = "okay";
			};
		};
	};
};
