/*
 * Copyright (c) 2017 BayLibre, SAS.
 * Author: Neil Armstrong <narmstrong@baylibre.com>
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/*
 * Overlay aimed to enable UART_A on Header 7J1 :
 * Pins 8 (TX), 10 (RX), 16 (CTS), 18 (RTS)
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "libretech,aml-s805x-ac", "amlogic,s805x", "amlogic,meson-gxl";

	fragment@0 {
		target-path = "/aliases";

		__overlay__ {
			serial1 = "/soc/cbus@c1100000/serial@84c0";
		};
	};

	fragment@1 {
		target = <&uart_A>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
			pinctrl-names = "default";
			uart-has-rtscts;
		};
	};
};
