// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Da Xue
 * Author: Da Xue <da@libre.computer>
 */

/*
 * Enables UART_B on 40P header 7J1 pins 27 (TX) and 28 (RX)
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "libretech,aml-s805x-ac", "amlogic,s805x", "amlogic,meson-gxl";

	fragment@0 {
		target-path = "/aliases";

		__overlay__ {
			serial2 = "/soc/cbus@c1100000/serial@84dc";
		};
	};

	fragment@1 {
		target = <&uart_B>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&uart_b_pins>;
			pinctrl-names = "default";
		};
	};
};
